<button class="btn btn-info" {{action 'showMap' rental}}>Show Map</button>

<div class="map-display"></div>


<!-- curl -o vendor/gmaps.js https://maps.googleapis.com/maps/api/js?key=AIzaSyCaqh7eUvfLJUx3o2R42xp9UZPyaI074Hg -->
